body{
  margin:0;
  padding:0 0 0 10px;
}
ul{
 list-style-type: none;
}
.single-result{
 padding-bottom: 15px;
}
.result-header{
 font-size: medium;
 vertical-align: text-top;
}
.result-body{
 width:800px;
 font-size: smaller;
}
.result-footer{
 background-color: white;
 color: green;
 font-size: smaller;
}
#search-form{
text-align:center;
}
